<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/admin.css}">
    <title>Home</title>
    <script>

    </script>
</head>
<body class="header">
    <div style="text-align: center; margin-top: 50px">
        <p>NDT Book Store</p>
        <h2 style="margin-left: 20px; margin-right: 20px">Sách là nguồn của cải quý báu của thế giới và là di sản xứng đáng của các thế hệ và các quốc gia. - Henry David Thoreau -</h2>
        <h2 style="margin-left: 20px; margin-right: 20px">Đọc sách hay cũng giống như trò chuyện với các bộ óc tuyệt vời nhất của những thế kỷ đã trôi qua. - Rene Descartes -</h2>
        <h2 style="margin-left: 20px; margin-right: 20px">Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn. - Barack Obama -</h2>
    </div>
    <div style="text-align: center;margin: 20px;margin-top: 50px">
        <button class="button" onclick=" window.location.href = '/admin/customer-info' ">
            <span>Quản lí khách hàng</span>
        </button>
        <button class="button" onclick=" window.location.href = '#2' ">
            <span>Quản lí đơn hàng</span>
        </button>
        <button class="button" onclick=" window.location.href = '#3' ">
            <span>Danh sách đơn hàng</span>
        </button>
        <button class="button" onclick=" window.location.href = '#4' ">
            <span>Thay đổi thông tin</span>
        </button>
    </div>
</body>
</html>