<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/admin.css}">
    <script th:src="@{/js/catalog-onchange.js}"></script>
    <title>Product</title>
</head>
<body>
<header>
    <h2 th:text="${title}" id="title"></h2>
</header>
<script>
    const type = {11:"Tiểu thuyết",12:"Trinh thám",13:"Hồi kí",14:"Kinh điển",21:"Truyện tranh",22:"Truyện cổ tích",31:"Thiên văn",32:"Lịch sử",33:"Sinh vật học",34:"Tâm lí học",35:"Hiện tượng tự nhiên",41:"Kinh nghiệm",42:"Hướng nghiệp",43:"Sáng tạo - Tư duy",51:"Tiếng Anh",52:"Tiếng Nhật",53:"Tiếng Trung Quốc"};;
    var typee = document.getElementById("title").innerText;
    document.getElementById("title").innerHTML = type[typee];
</script>
<div class="row">
    <div style="float: right;margin: 10px">
        <form>
            <input type="text" placeholder="search book ..." id="searchproduct" name="searchproduct" style="font-size: 16px;padding: 8px">
            <button class="button-search" ><span>Search</span></button>
        </form>
    </div>
    <div style="float: right;margin: 10px">
        <button class="button-search" onclick="window.location.href='/home'"><span>Home</span></button>
    </div>
    <div style="float: right;margin: 10px">
        <button class="button-search" onclick="window.location.href='/home/cart'"><span>Giỏ hàng</span></button>
    </div>
    <div style="float: left; margin: 10px">
        <select id="catagory" name="catagory" onchange="catalog()">
            <option selected disabled hidden>Danh mục</option>
            <optgroup label="Văn học">
                <option value="11">Tiểu thuyết</option>
                <option value="12">Trinh thám</option>
                <option value="13">Hồi kí</option>
                <option value="14">Kinh điển</option>
            </optgroup>
            <optgroup label="Thiếu nhi">
                <option value="21">Truyện tranh</option>
                <option value="22">Truyện cổ tích</option>
            </optgroup>
            <optgroup label="Khoa học">
                <option value="31">Thiên văn</option>
                <option value="32">Lịch sử</option>
                <option value="33">Sinh vật học</option>
                <option value="34">Tâm lý học</option>
                <option value="35">Hiện tượng tự nhiên</option>
            </optgroup>
            <optgroup label="Kĩ năng sống">
                <option value="41">Kinh nghiệm</option>
                <option value="42">Hướng nghiệp</option>
                <option value="43">Sáng tạo - Tư duy</option>
            </optgroup>
            <optgroup label="Ngoại ngữ">
                <option value="51">Tiếng Anh</option>
                <option value="52">Tiếng Nhật</option>
                <option value="53">Tiếng Trung Quốc</option>
            </optgroup>
        </select>
    </div>
    <div style="float: left; margin: 10px">
        <select id="fiter" name="fiter">
            <option value="low">Giá tăng dần</option>
            <option value="hight">Giá giảm dần</option>
            <option value="newbook">Ngày phát hành</option>
        </select>
    </div>
</div>
<div class="shelf">
<!--    <form th:action="@{/home}" style="text-align: center">-->
<!--        <button class="button-search"><span>Giỏ hàng</span></button>-->
<!--    </form>-->
    <nav class="list">
        <ul>
            <li th:each="i:${productList}">
                <a th:href="@{'/home/product?ID=' + ${i.IDcode}+'&query='+${i.typee}}">
                    <img th:src="@{'data:image/jpg;base64,'+ ${i.imagebase64}}">
                    <h3 th:text="${i.cost} + 'đ (-' + ${i.sale} + '%)'"></h3>
                    <h2 th:text="${i.price}+'đ'"></h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<footer>
    <h2>NDT Book Store</h2>
</footer>
</body>
</html>