<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/home.css}">
    <title>Home</title>
</head>
<body>
<div class="header">
    <h1>NDT Book Store</h1>
    <div class="container">
        <nav class="menu">
            <ul>
                <li>
                    <a href="">Sách mới</a>
                </li>
                <li>
                    <a href="">Danh mục sách</a>
                    <ul class="menu-child">
                        <li>
                            <a href="">Văn học</a>
                            <ul class="menu-child-child">
                                <li>
                                    <a href="">Tiểu thuyết</a>
                                </li>
                                <li>
                                    <a href="">Trinh thám</a>
                                </li>
                                <li>
                                    <a href="">Hồi kí</a>
                                </li>
                                <li>
                                    <a href="">Kinh điển</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Thiếu nhi</a>
                            <ul class="menu-child-child">
                                <li>
                                    <a href="">Truyện tranh</a>
                                </li>
                                <li>
                                    <a href="">Truyên cổ tích</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Khoa học</a>
                            <ul class="menu-child-child">
                                <li>
                                    <a href="">Thiên văn</a>
                                </li>
                                <li>
                                    <a href="">Lịch sử</a>
                                </li>
                                <li>
                                    <a href="">Sinh vật học</a>
                                </li>
                                <li>
                                    <a href="">Triết học</a>
                                </li>
                                <li>
                                    <a href="">Tâm lý học</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Kĩ năng sống</a>
                            <ul class="menu-child-child">
                                <li>
                                    <a href="">Kinh nghiệm</a>
                                </li>
                                <li>
                                    <a href="">Hướng nghiệp</a>
                                </li>
                                <li>
                                    <a href="">Sáng tạo - Tư duy</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Ngoại ngữ</a>
                            <ul class="menu-child-child">
                                <li>
                                    <a href="">Tiếng Anh</a>
                                </li>
                                <li>
                                    <a href="">Tiếng Nhật</a>
                                </li>
                                <li>
                                    <a href="">Tiếng Trung</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Sách bán chạy nhất</a>
                </li>
                <li>
                    <a href="">Sách giảm giá</a>
                </li>
                <li>
                    <a href="" th:text="${user}?${user}:'Đăng nhập'" th:href="${user}?'#1':'/customer/login'"></a>
                    <ul class="menu-child" th:if="${user}">
                        <li>
                            <a th:href="@{/customer/information}">Tài khoản</a>
                        </li>
                        <li>
                            <a href="">Đơn hàng</a>
                        </li>
                        <li>
                            <a href="">Lịch sử</a>
                        </li>
                        <li>
                            <a th:href="@{/customer/logout}">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div style="text-align: center;">
            <p>Chào mừng bạn tới NDT Book Store</p>
            <h2>Sách là nguồn của cải quý báu của thế giới và là di sản xứng đáng của các thế hệ và các quốc gia. - Henry David Thoreau -</h2>
            <h2>Đọc sách hay cũng giống như trò chuyện với các bộ óc tuyệt vời nhất của những thế kỷ đã trôi qua. - Rene Descartes -</h2>
            <h2>Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn. - Barack Obama -</h2>
        </div>

        <div style="text-align: center;">
            <button class="button" onclick="nextpage()"><span>Giỏ hàng</span></button>
        </div>
        <script type="text/javascript">
            function nextpage() {
                window.location.href = "";
            }
        </script>
    </div>
</div>
<div class="shelf">
    <h1>Sách mới</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Sách bán chạy nhất</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Sách giảm giá</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Văn học</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Tiểu thuyết</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Kinh dị - Trinh thám</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Kĩ năng</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="shelf">
    <h1>Ngoại ngữ</h1>
    <nav class="list">
        <ul>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_01.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_02.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/book_03.jpg}">
                    <h3>-25%</h3>
                    <h2>54.000đ</h2>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>